.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    width: 100%;
    margin-bottom: 10px;
}
.col , .col2 , .col3{
    color: white;
    background-color: #629fa1;
    padding: 20px;
    align-items: center;
}
.col{
    flex: 1;
}
.col2{
    flex: 2;
}
.col3{
    flex: 3;
}