* {
    box-sizing: border-box;
}

body{
    background-color: silver;
    margin: 20px;
}
.container {
    display: flex;
    flex-wrap: wrap; /*لسماح للعناصر بالالتفاف*/
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    gap: 15px;
}

.top-nav {
    width: 100%;
    height: 150px;
    background-color: green;
    margin-bottom: 10px;
}

.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
    padding: 40px 20px;
    border: 2px solid silver;
}

.main {
    height: 450px;
    width: 735px;
    background-color: red;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    gap: 20px;
}

.sub-content {
    height: 180px;
    width: 215px;
    background-color: yellow;
}

#advertisement {
    height: 120px;
    width: 100%;
    background-color: purple;
}
