* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
}

body {
    background-color: white;
}

.nav {
    color: white;
    background-color: black;
    display: flex;
    margin: 0 auto;
    padding: 20px 40px;
    width: 65%;
    height: 100%;
}

.main-container {
    width: 65%;
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    gap: 25px;
}

.title {
    text-align: center;
}

.card{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 25px;
}

.left-side {
    flex: 1;
}

.profile-page {
    border: 3px solid black;
    padding: 25px;
    width: 210px;
    min-height: 350px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

}

.profile-page img {
    width: 100px;
    height: 100px;
}

.profile-page a {
    font-size: 16px;
    margin-top: 10px;
    color: #125a98;
}

.profile-page h2 {
    margin-top: 15px;
}

.right-side {
    flex: 3;
}

.like-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    margin-bottom: 30px;
    border: 3px solid black;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
}

.content-2 {
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.btn {
    color: black;
    background-color: #ffd966;
    border: 2px solid black;
    box-shadow: 4px 4px black;
    font-size: 15px;
    font-weight: bold;
    margin: 0;
    padding: 5px 15px;
    cursor: pointer;
}

p {
    padding: 10px;
    font-size: 18px;
}
@media (max-width: 700px) {
    .nav {
        width: 100%; 
        padding: 10px 20px;
        font-size: 12px;
        justify-content: center;
    }

    .card {
        flex-direction: column; 
        align-items: center;
        gap: 20px;
    }

    
    .left-side, .right-side {
        width: 100%;
        display: flex;
        flex-direction: column; 
    }

    .profile-page {
        width: 100%;
        min-height: auto;
    }

    .profile-page h2{
        font-size: 14px;
    }

    .main-container {
        width: 95%; 
        margin: 15px auto;
    }
}
